{% block style %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link href="{{ asset('assets/css/2faLoginStyle.css') }}" rel="stylesheet">

{% endblock %}
<title>{% block title %}Class Checker - Code {% endblock %}</title>
<link href="{{asset('assets/css/loginStyle.css')}}"  rel="stylesheet">
<link rel="icon" href="{{asset('assets/img/Class_Checker_Icon2.png')}}">

<link href="{{ asset('assets/css/sb-admin-2.css') }}" rel="stylesheet">
{#page web qui contient un formulaire pour activer l'authentification à double facteur #}
<main class="d-flex justify-content-center">
<section class="container2">
    <div class="row">
        <div class="col">
                        <form class="form" action="/2fa_check" method="post">
                <img class="logo2" src={{ asset('media/Blue.png') }} width="250px">
                <div class="margin-neg">
                <h2 class="txt-blackBold text-center">CLASS CHECKER</h2>
                
            <h4 class="txt-black text-center classCheck"><label for="_auth_code">Rentrez le code : </label></h4>


                <p class="widget mt-4 form-width">
                    <input
                        id="_auth_code"
                        type="number"
                        name="_auth_code"
                        autocomplete="one-time-code"
                        autofocus
                        class="input-group-text "
                        style="width: 40%;
                        -webkit-appearance: none"
                                />
                </p>
                <div class="d-flex justify-content-center ms-5 mt-5">
                <p class="cancel col"><a class="btn-danger btn" style="width: 7em" href="/logout">Annuler</a></p>  
                <p class="submit col" style="margin-left: 0em" ><input type="submit" value="Connexion" class="btn btn-success" style="width: 7em" /></p></div>
            </form>
            </div>



        </div>
    </div>
</section>
</main>