{% extends 'base.html.twig' %}

{% block title %}Eleves{% endblock %}
{% block style %}
    <link href="
{{ asset('assets/css/dataTables.bootstrap4.min.css') }}
" rel="stylesheet">
{% endblock %}
{% block script %}
{% endblock %}
{% block body %}

    {% for message in app.flashes('success')%}
        <strong>{{ message }}</strong>
    {% endfor %}
<div class="d-flex justify-content-center">

    <div class="container mt-4">
        <h1 class="justify-content-center d-flex text-center"> Liste des éléves</h1>
        <div class="container pt-2">
            <table class="table table-hover table-bordered" id="dataTable">
                <thead class="table-primary">
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Sexe</th>
                    <th>Email</th>
                    <th>Date de naissance</th>
                    <th>Niveau</th>
                    <th>ABSENCE</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for  student in students %}
                    <tr>
                        <td class="ps-2">{{ student.name }}</td>
                        <td class="ps-2">{{ student.surname }}</td>
                        <td class="ps-2">{{ student.gender }}</td>
                        <td class="ps-2">{{ student.email }}</td>
                        <td class="ps-2">{{ student.birthday | date('d/m/Y') }}</td>
                        <td class="ps-2">{{ student.level }}</td>
                        <td class="ps-2">{{ student.toHave.count }}</td>
                        <td class="ps-2" style="width:10em ">
                            <a class="btn btn-outline-info btn-sm" href="{{ path('app_student_update', {id: student.id}) }}" >Modifier</a>
                            <a class="btn btn-outline-danger btn-sm" onclick="return confirm('Voulez vous vraiment supprimer l\'éléve')" href="{{ path('app_student_delete', {id: student.id}) }}" >Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}
