{% extends 'base.html.twig' %}



{% block title %}Inscription{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
    <h1>Register</h1>

    {{ form_start(RegistrationForm) }}
    {{ form_row(RegistrationForm.email) }}
    {{ form_row(RegistrationForm.date_naissance) }}
    {{ form_row(RegistrationForm.nom) }}
    {{ form_row(RegistrationForm.prenom) }}
    {{ form_row(RegistrationForm.telephone) }}
    {{ form_row(RegistrationForm.sexe) }}
    {{ form_row(RegistrationForm.plainPassword, {
        label: 'Password'
        }) }}


        <button type="submit" class="btn btn-lg btn-primary mt-3">Inscription</button>
    {{ form_end(RegistrationForm) }}
</div>
</div>
</section>
{% endblock %}
