{% extends 'base.html.twig' %}

{% block title %}Class Checker - Absences{% endblock %}
{% block style %}
    <link href="
{{ asset('assets/vendor/datatables/dataTables.bootstrap4.min.css') }}
" rel="stylesheet">
    <link href="
{{ asset('assets/css/lessonStyle.css') }}
" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block script %}

{% endblock %}
{% block body %}

    {% for message in app.flashes('success')%}
        <div class="flash" data-state=success><strong>{{ message }}</strong></div>
    {% endfor %}

    <div class="mx-lg-5 pt-2" style="width: 95%">
        <h1 class="justify-content-center d-flex text-center text-dark"> Liste des absences</h1>
            <table class="table table-hover table-bordered" id="dataTable">
                <thead >
                <tr class="table-primary">
                <th>Cours</th>
                <th>Nom / Prenom</th>
                <th>Date de justificatif</th>
                <th>Motif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                

                <td class="toolTip">{{ absence.session.label|length > 20 ? absence.session.label|slice(0, 20) ~ '...' : absence.session.label}}
                    {% if absence.session.label|length > 20 %}
                        <span class="toolTiptext">{{ absence.session.label}}</span>
                    {% endif %}</td>
                <td>{{ absence.students.name|upper }} {{ absence.students.surname }}</td>
                <td>{{ absence.DateJustify ? absence.DateJustify|date('Y-m-d') : '' }}</td>
                <td>{{ absence.justify.description }}</td>
                <td style="width: auto;">
                    <div class="d-flex justify-content-center">
                    <a  class="btn btn-outline-warning btn-sm mx-1" href="{{ path('app_absence_edit', {'id': absence.id}) }}" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg></a>
                     <form method="post" action="{{ path('app_absence_delete', {'id': absence.id}) }}" onsubmit='return confirm("Voulez-vous vraiment supprimer cette absence ?")'>
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ absence.id) }}">
                        <button class="btn btn-outline-danger btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                      </svg></button>
                    </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        

{% endblock %}
