{% extends 'base.html.twig' %}

{% block title %}Class Checker - Absences{% endblock %}
{% block style %}
    <link href="
{{ asset('assets/vendor/datatables/dataTables.bootstrap4.min.css') }}
" rel="stylesheet">

    <link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block script %}

{% endblock %}
{% block body %}

    {% for message in app.flashes('success')%}
        <div class="flash" data-state=success><strong>{{ message }}</strong></div>
    {% endfor %}

    <div class="mx-lg-5 pt-2" style="width: 95%">
        <h1 class="justify-content-center d-flex text-center text-dark"> Liste des absences</h1>
            <table class="table table-hover table-bordered" id="dataTable">
                <thead >
                <tr class="table-primary">
                <th>Cours</th>
                <th>Nom / Prenom</th>
                <th>Date de justificatif</th>
                <th>Motif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                

                <td>{{ absence.lessons.label }}</td>
                <td>{{ absence.students.name|upper }} {{ absence.students.surname }}</td>
                <td>{{ absence.DateJustify ? absence.DateJustify|date('Y-m-d') : '' }}</td>
                <td>{{ absence.justify.description }}</td>
                <td>
                    <a class="btn btn-outline-warning btn-sm mb-2" href="{{ path('app_absence_edit', {'id': absence.id}) }}" >Modifier</a>
                     <form method="post" action="{{ path('app_absence_delete', {'id': absence.id}) }}" onsubmit='return confirm("Voulez-vous vraiment supprimer cette absence ?")'>
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ absence.id) }}">
                        <button class="btn btn-outline-danger btn-sm">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        

{% endblock %}
