{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    <link href="
https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.css
" rel="stylesheet">
{% endblock %}
{% block title %}Class Checker - Calendrier{% endblock %}

{% block body %}
    <div class="container">
        <div id="alert"></div>
        <div id="calendar-holder" class="mt-2 container" ></div>
    </div>

    <div class="modal fade" id="event-modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajout d'une session</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Annuler</span></button>

                </div>

                <div class="modal-body">
                    <form name="save-event" id="addSession2" method="post" action="">
                        <div class="form-group">
                            <label for="lesson-select">Choisir un cours : </label>
                            <select name="lesson" id="lesson-select">
                                {% for lesson in lessons %}
                                    {% if app.user.roles is same as ['ROLE_ADMIN', 'ROLE_USER'] %}
                                        <option value="{{ lesson.id}}">{{ lesson.teacher.nom }} {{ lesson.teacher.prenom }} : {{ lesson.label|length > 20 ? lesson.label|slice(0, 20) ~ '...' : lesson.label}}</option>
                                    {% else %}
                                        <option value="{{ lesson.id}}">{{ lesson.label|length > 20 ? lesson.label|slice(0, 20) ~ '...' : lesson.label}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Date:</label>
                            <input readonly type="text" name="evtStart" class="form-control col-xs-3" />
                        </div>
                        <div class="form-group">
                            <label>Choisir l'heure début :</label>
                            <input type="time" name="timeStart" class="form-control col-xs-3" />
                        </div>
                        <div class="form-group">
                            <label>Choisir l'heure de fin :</label>
                            <input type="time" name="timeEnd" class="form-control col-xs-3" />
                        </div>
                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" id="button2" class="btn btn-primary">Ajouter</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Ajout d'une session</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Annuler</span></button>

                </div>

                <div class="modal-body">
                    <form id="addSession" name="save-event" method="post" action="">
                        <div class="form-group">
                            <label for="lesson-select">Choisir un cours : </label>
                            <select name="lesson" id="lesson-select">
                                {% for lesson in lessons %}
                                    {% if app.user.roles is same as ['ROLE_ADMIN', 'ROLE_USER'] %}
                                        <option value="{{ lesson.id}}">{{ lesson.teacher.nom }} {{ lesson.teacher.prenom }} : {{ lesson.label|length > 20 ? lesson.label|slice(0, 20) ~ '...' : lesson.label}}</option>
                                        {% else %}
                                            <option value="{{ lesson.id}}">{{ lesson.label|length > 20 ? lesson.label|slice(0, 20) ~ '...' : lesson.label}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Date de début :</label>
                            <input readonly type="text" name="evtStart" class="form-control col-xs-3" />
                        </div>
                        <div class="form-group">
                            <label>Date de fin</label>
                            <input readonly type="text" name="evtEnd" class="form-control col-xs-3" />
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" id="button" class="btn btn-primary">Ajouter</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}
{% block script %}
    <script src="
https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js
"></script>

    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.js
"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/locales-all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@4.1.0/main.min.js
"></script>
    <script src="
https://cdn.jsdelivr.net/npm/tooltip-js@3.0.0/dist/tooltip-min.min.js
"></script>


    <script src="{{ asset('assets/js/calendarScript.js') }}">
    </script>
{% endblock %}