{% extends 'base.html.twig' %}

{% block style %}
    <link href="
{{ asset('assets/vendor/datatables/dataTables.bootstrap4.min.css') }}
" rel="stylesheet">
    <link href="
{{ asset('assets/css/lessonStyle.css') }}
" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/multipleSelect.css') }}">
{% endblock %}
{% block title %}Class Checker - Index cours{% endblock %}

{% block body %}

<div id="alert">

</div>
        <div class="me-5 ms-5 pt-2 mb-4" style="width: 100%">
            <h1 class="justify-content-center d-flex text-center text-dark"> Liste des cours </h1>
            <table class="table table-hover table-bordered w-100" id="dataTable">
                <thead >
                <tr class="table-primary">
                    <th>PROF</th>
                    <th>ELEVE</th>
                    <th>MAX ELEVE</th>
                    <th>LIBELEE</th>
                    <th>PERIODE</th>
                    <th>HORAIRE</th>
                    <th>ACTION</th>
                </tr>
                </thead>


                    <tbody id="lesson">
                    {% for lesson in lesson %}
                    <tr class="" id="{{ lesson.id }}">
                        <td class="ps-2 toolTip" style="max-width: 10em; max-height: 5em;" >
                                {{ lesson.label|length > 20 ? lesson.label|slice(0, 20) ~ '...' : lesson.label}}
                            {% if lesson.label|length > 20 %}
                                <span class="toolTiptext">{{ lesson.label }}</span>
                            {% endif %}
                        </td>

                        <td class="ps-2" >{{ lesson.teacher.nom }} {{ lesson.teacher.prenom }}</td>
                        <td class="ps-2">{{ lesson.toHave.count }}</td>
                        <td class="ps-2">{{ lesson.numberMaxOfStudents }}</td>
                        <td class="ps-2">du {{ lesson.timeStart|date('d/m/Y') }} au {{ lesson.timeEnd|date('d/m/Y') }}</td>
                        <td class="ps-2">le {{ lesson.day }} de {{ lesson.hoursStart|date('H:i') }} à {{ lesson.hoursEnd|date('H:i') }}</td>


                        <td class="ps-2" style="width:10em ">
                            <a class="btn btn-outline-warning btn-sm" href="{{ path('lesson.modif',{'id':lesson.id}) }}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg></a>
                            <a class="btn btn-outline-danger btn-sm" onclick="delLesson({{ lesson.id }} )"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg></a>
                              <a type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#exampleModal" href="{{ path('app_tohave') }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                                </svg>
                                </a>
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>

            </table>
        </div>

    <!-- Modal -->
    <div class="modal fade justify-content-center" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100em">
        <div class="modal-dialog" role="document" >
            <div class="modal-content ml-5" style="width: 60em">
                <div class="modal-header" >
                    <h5 class="modal-title " id="exampleModalLabel">Action sur les élèves lié(e)s au cour</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="justify-content-center d-flex">
                           {#  <div class="" >
                                <label for="lesson" class="form-label " >Cours</label>
                                <input id="lesson" disabled type="text" value="{{ lesson.id|default }}{{ lesson.label|default }}" class="ms-3 toolTip" style="width: 100%">

                            </div>#}
                    <div class="mx-lg-5 pt-2 mb-4" >
                           <table class="table table-hover table-bordered" id="dataTable">
                                  <thead >
                                    <tr class="table-primary">
                                        <th></th>
                                        <th>NOM</th>
                                        <th>PRENOM</th>
                                        <th>EMAIL</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for student in students %}
                                        <tr>

                                        <td class=" table-primary"><div class="form-check ps-4">
                                      <input {% for toHaves in student.toHave %} checked {% endfor %}onclick="addStudent({{ student .id }} )" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                      <label class="form-check-label" for="flexCheckDefault">
                                      </label>
                                      </div>
                                      </td>
                                       <td class="ps-2">{{ student.name }}</td>
                                       <td class="ps-2">{{ student.surname }}</td>
                                       <td class="ps-2">{{ student.email }}</td>
                                       </tr>
                                    {% endfor %}
                                </tbody>
                           </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ asset('assets/js/ajaxDeleteLesson.js')}}">  </script>
    <script src="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.js"></script>

    <script>
        $(function() {
            $('#test').change(function() {
                console.log($(this).val());
            }).multipleSelect({
                width: '100%',
                filter : true,
                selectAllText: 'Selectionné tous les éléves',
                allSelected: 'Tous selectionné',
                countSelected: '# éléves selectionné',
                noMatchesFound: 'Pas de résultat',
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('.placeholder').css('background-color', 'white');
        })
    </script>
{% endblock %}