{% extends 'base.html.twig' %}

{% block style %}
    <link href="
{{ asset('assets/vendor/datatables/dataTables.bootstrap4.min.css') }}
" rel="stylesheet">
{% endblock %}
{% block title %}Index Lesson Pages{% endblock %}

{% block body %}

    <!--<div class="d-flex justify-content-center">
        <a href="{{ path('lesson.new') }}" class="btn btn-outline-primary mt-4" style="width: 20%"> créer un
            cour</a></div>
    <div class=" mt-4">-->




        <div class="mx-lg-5 pt-2" style="width: 95%">
            <h1 class="justify-content-center d-flex text-center mb-3"> Liste des cours </h1>
            <table class="table table-hover table-bordered" id="dataTable">
                <thead>
                <tr class="table-primary">
                    <td class=" ">LIBELEE</td>
                    <td class=" ">PROFS</td>
                    <td class=" " >ELEVES</td>
                    <td class=" " >DATE DEBUT</td>
                    <td class=" ">DATE FIN</td>
                    <td class="">HEURE DEBUT</td>
                    <td class="">HEURE FIN</td>
                    <td class="">JOUR SEMAINE</td>
                    <td class="">NB ABSENT</td>
                    <td class="">ACTION</td>
                </tr>
                </thead>


                    <tbody>
                    {% for lesson in lesson %}
                    <tr class="">
                        <td class="ps-2" >{{ lesson.label }}</td>
                        <td class="ps-2" >{{ lesson.teacher.nom|upper }} {{ lesson.teacher.prenom }}</td>
                        <td class="ps-2">{{ lesson.numberMaxOfStudents }}</td>
                        <td class="ps-2">{{ lesson.timeStart|date('d/m/Y') }}</td>
                        <td class="ps-2">{{ lesson.timeEnd|date('d/m/Y') }}</td>
                        <td class="ps-2">{{ lesson.hoursStart|date('H:i:s') }}</td>
                        <td class="ps-2">{{ lesson.hoursEnd|date('H:i:s') }}</td>
                        <td class="ps-2">{{ lesson.day }}</td>
                        <td class="ps-2">{{ lesson.toHave.getx }}</td>
                        <td class="ps-2" style="width:10em ">
                            <a class="btn btn-outline-info btn-sm" href="{{ path('lesson.modif',{'id':lesson.id}) }}"> Modifier</a>
                            <a class="btn btn-outline-danger btn-sm" href="{{ path('lesson.delete',{'id':lesson.id}) }}" onclick="return confirm('Voulez vous vraiment supprimer le cour ?')"> Supprimer</a>
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>

            </table>
        </div>
    </div>
{% endblock %}
