{% extends 'base.html.twig' %}

{% block title %}Class Checker - Liste des profs{% endblock %}
{% block style %}
    <link href="
{{ asset('assets/vendor/datatables/dataTables.bootstrap4.min.css') }}
" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block body %}

    {% for message in app.flashes('success')%}
        <div class="flash" data-state=success><strong>{{ message }}</strong></div>
    {% endfor %}

    <div class="mx-lg-5 pt-2 mb-4" style="width: 95%">
        <h1 class="justify-content-center d-flex text-center text-dark">Liste des professeurs</h1>

            <table class="table table-hover table-bordered" id="dataTable">
                <thead >
                <tr class="table-primary">
                    <th>EMAIL</th>
                    <th>COURS</th>
                    <th>DATE DE NAISSANCE</th>
                    <th>NOM</th>
                    <th>PRENOM</th>
                    <th>TELEPHONE</th>
                    <th>SEXE</th>
                    <th>ACTION</th>
                </tr>
                </thead>
                <tbody>
                {% for  user in users %}
                    <tr>
                        <td class="ps-2">{{ user.email }}</td>
                        <td class="ps-2">{{ user.lessons.count}}</td>
                        <td class="ps-2">{{ user.dateNaissance|date('d/m/Y') }}</td>
                        <td class="ps-2">{{ user.nom|upper }}</td>
                        <td class="ps-2">{{ user.prenom }}</td>
                        <td class="ps-2">{{ user.telephone }}</td>
                        <td class="ps-2">{{ user.sexe }}</td>
                        <td class="ps-2" style="width:10em ">
                            <a class="btn btn-outline-warning btn-sm" href="{{ path('app_user_edit', {id: user.id}) }}" >Modifier</a>
                            <a class="btn btn-outline-danger btn-sm" onclick="return confirm('Voulez vous vraiment supprimer l\'éléve')" href="{{ path('app_user_delete', {id: user.id}) }}" >Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
